# Dev/IDE (normally they should be ignored on developer local machine level)
/.idea
/.vscode
/.vagrant
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# node.js
/node_modules
npm-debug.log

# Laravel
.env

# Composer
composer.lock
/vendor

/public/build
/public/dist
/public/mix-manifest.json
storage/public/uploads/

.phpunit.result.cache

/storage/debugbar

# PHP Tools
.php_cs.cache
