

// Custom Variables
@import "variables";

// Thème CoreUI

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Plugins


@import "~noty/src/themes/bootstrap-v4";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic,cyrillic-ext');
// Components


// RTL


  [v-cloak] {
    display: none;
  }

  .intl-tel-input {
    width: 100%;
  }

  .alert.alert-top {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .custom-control-indicator, .custom-control-description, .switch-label, .switch-handle {
    margin-top: .25rem;
  }

  .flatpickr-calendar {
    border-radius: 0;
  }

  body .v-select {
    .selected-tag {
      background-color: #20a8d8;
      border-color: #20a8d8;
      color: #fff;

      .close {
        color: #fff;
        text-shadow: none;
        opacity: 1;
      }
    }

    .dropdown-toggle, .selected-tag {
      border-radius: 0;
    }
  }

  .table th {
    white-space: nowrap;
  }

  .nowrap {
    white-space: nowrap;
  }

  .card-logo img {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
  }

  .card-logo {
    width: 200px;
    margin: 0 auto 10px;
  }

  .card-logo + h1 {
    margin: 0 auto 10px;
    width: 200px;
    text-align: center;
  }

  .app-header a.navbar-brand {
    width:150px;
  }

  button:focus {
    outline: 5px auto pink;
  }
  .app {
    //max-width: 750px;
    overflow-x: hidden;
  }
  .wrapper {
    padding: 25px;
    height: auto;
  }
  .app {
    background-color: #e7eef4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 430px;
    //max-width: 750px;
    background: none transparent;
    height: 100vh;
  }
  html {
    overflow: hidden;
    background: none transparent;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  .app > * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .md-theme-default a {
     color: #000 !important;
  }
  .md-field.md-theme-default:before {
     background-color: #000 !important;
  }
  .md-field.md-theme-default:after {
    background-color: #000 !important;
  }
  .module-donate__title {
    font-family: Ubuntu;
    color:  #31383e;
    font-weight: 700;
    text-align: left;
    margin: 0;
  }

  #beGatewayForm {
    width: 100%;
  }
  .module-donate__status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 430px;
    flex-direction: column;
  }
  .status__title {
    font-family: Ubuntu;
    color:  #31383e;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
  }
  .status__text {
    font-family: Ubuntu;
    color:  #31383e;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    padding-top: 15px;
    margin: 0;
  }
  .module-donate__donateWindow {
    padding: 16px 0 0px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100%;
  }

  .module-donate__card {
    width: auto;
    height: auto;
    overflow:hidden;
    position:relative;
  }

  .card__placeholder {
    width: 100%;
    height: auto;
  }

  .donate__email {

  }

  .app {
    width: 100%;
    min-height: 400px;
    margin: 0;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 4px 21px -3px rgba(51,51,3,0.61);
    -moz-box-shadow: 0px 4px 21px -3px rgba(51,51,3,0.61);
    box-shadow: 0px 4px 21px -3px rgba(51,51,3,0.61);
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 30px 50px 15px 45px;
  }
  .app > .container-fluid {
    height: 100%;
  }
.app > .container-fluid > div {
  height: 100%;
}
.spinner-wrapper {
  height: 100%;
  align-items: center;
  margin: 0 !important;
}

.custom-control-input ~ .custom-control-label::before {
  background-color: #FF80B4 !important;
  border-color: #FF80B4 !important;
  outline: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #FF80B4 !important;
  border-color: #FF80B4 !important;
  outline: none !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: #FF80B4 !important;
  border-color: #FF80B4 !important;
  outline: none !important;
}



  .module-donate__title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #191919;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  .module-donate__wrapper {
    padding: 16px 0 0px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 300px;
  }

  .module-donate__info {
    max-width: 360px;
  }

  .module-donate__main-panel {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 265px;
  }

  .module-donate__image {
    height: 195px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .module-donate__image > img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .module-donate__image .blurredImage {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
  }

  .module-donate__input {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: space-between;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }

  a {
    text-decoration: none !important;
  }

  .module-donate__button-select {
    font-family: Ubuntu, sans-serif;
    width: 75px;
    height: 50px;
    margin-bottom:20px;
    border: none;
    padding: 0;
    background-color: #FAFAFA;
    color: #303030;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
  }

  .module-donate__button-nonselect {
    font-family: Ubuntu, sans-serif;
    width: 75px;
    height: 50px;
    margin-bottom:20px;
    border: none;
    padding: 0;
    background-color: #FFFFFF;
    color: #303030;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
  }
  #button__confirm.disabled {
    background-color: #cccccc !important;
  }
  .module-donate__button-select.clicked {
    outline: none !important;
    background-color: #383838 !important;
    color: #303030;
    transition: all 0.3s ease 0s;
    -webkit-font-smoothing: antialiased;
  }


  .module-donate__button-select.payment {
    width: 48%;
  }

  .module-donate__button-select.payment.clicked {
    color: #FF80B4;
  }

  .module-donate__button-select:focus {
    outline: none !important;
    background-color: #383838 !important;
    color: #303030;
  }

  .module-donate__button-select:hover {
    color: #303030;
    -webkit-transform: perspective(1px) scale(1.1);
        -ms-transform: perspective(1px) scale(1.1);
        transform: perspective(1px) scale(1.1);
    transition: all 0.3s ease 0s;
    -webkit-font-smoothing: antialiased;
  }

  .module-donate__button-select.confirm {
    margin-left: auto;
    height: 50px;
    width: 165px;
    overflow: hidden;
    background-color: #FF80B4;
    margin-bottom: 10px;
  }

  .module-donate__button-select.confirm.reccurent {
    height: 50px;
    width: 165px;
    overflow: hidden;
    background-color: #FF80B4;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .module-donate__button-nonselect.confirm {
    margin-left: auto;
    height: 50px;
    width: 165px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .module-donate__button-select.confirm:hover {
    background-color: #FF80B4;
    color: #303030;
  }
  .md-field label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #3B3B3B !important;
  }
  .md-input {
    border-color: #000000 !important;
  }

  .module-donate__button-confirm {
    font-family: Ubuntu, sans-serif;
    width: 160px;
    height: 55px;
    margin: 5px 0px 0px 10px;
    border: none;
    color: #FF80B4 !important;
    font-size: 18px;
    font-weight: 500;
    background-color: #94c840;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .module-donate__button-confirm:hover {
    color: #31383e;
    -webkit-transform: perspective(1px) scale(1.1);
        -ms-transform: perspective(1px) scale(1.1);
        transform: perspective(1px) scale(1.1);
    transition: all 0.3s ease 0s;
  }

  .module-donate__button-confirm:focus {
    color: #31383e;
    transition: all 0.3s ease 0s;
    outline: none;
  }

  .module-donate__button-confirm.warning-open {
    margin-top: -20px;
  }

  .donate__checkbox .custom-control-label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: #000000 !important;

    padding-bottom: 45px;
  }

  .donateWindow__footer {
    z-index: 9999;
    width: 200px;
    margin-top: -145px;
    margin-left: -180px;
    font-size: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    pointer-events: none;
  }

.donateReccurentWindow__footer {

  font-size: 0;
  width: 400px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .donateWindow__footer .back {
    margin-left: 0;
    pointer-events: auto;
  }
.donateReccurentWindow__footer .back {
  margin-left: 0;
  pointer-events: auto;
}
  .module-donate__status + .module-donate__button-select {
    margin: auto;
    margin-top: -60px;
    margin-bottom: 60px;
  }
  .donate__email {
    width: 250px !important;
    margin: auto;
    pointer-events: auto;
    margin-bottom: 10px;
  }
  .module-donate__text-input {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    width: 170px;
    height: 50px;
    color: #191919;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 5px 0px 15px;
    color: #31383e;
    -moz-appearance:textfield;
    -webkit-appearance: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease 0s;
  }

  .module-donate__text-input.recurrent {
    margin-bottom: 30px;
    width: 400px;
  }

  .module-donate__title.recurrent {
    margin-bottom: 25px;
  }
  .module-donate__text-input::-webkit-outer-spin-button,
  .module-donate__text-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  .module-donate__text-input:focus{
    border: none;
    border-radius: 2px;
    outline: none;
  }

  .module-donate__text-input:hover{
    -webkit-transform: perspective(1px) scale(1.1);
        -ms-transform: perspective(1px) scale(1.1);
        transform: perspective(1px) scale(1.1);
    transition: all 0.3s ease 0s;
  }

  .module-donate__text-input::-webkit-input-placeholder {
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-weight: 500;
  }

  .module-donate__text-input:-ms-input-placeholder {
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-weight: 500;
  }

  .module-donate__text-input::-ms-input-placeholder {
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-weight: 500;
  }

  .module-donate__text-input::placeholder {
    font-family: Ubuntu, sans-serif;
    color:  #303030;
    font-weight: 400;
  }

  .module-donate__text-input.warning-open {
    margin-top: -20px;
  }


  .module-donate__warning {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    margin: -10px;
    color: red;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .module-donate__warning.opened {
    max-height: 35px;
    -webkit-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }

  .module-donate__description-wrapper {
    width: auto;
  }

  .module-donate__description {
    padding: 20px 0 0 0;
    width: 100%;
    height: auto;
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    clear: both;
    margin: 0;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
  }

  .module-donate__progress-bar {
    background-color:  #f5f9fc;
    width: 100%;
    height: 20px;
    font-size: 0;
    margin-top: 25px;
    overflow: hidden;
  }

  .progress__bar {
    border-radius: 10px;
    background-color: #DDDDDD;
    margin-top: 30px;
    height: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }

  .progress-bar {
    background-color: #FF80B4;
    border-radius: 10px;
    height: 15px;
  }

  .module-donate__progress-bar .progress-bar__track {
    background-color:  #5899d0;
    width: 0px;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow:hidden;
  }

  .module-donate__progress-bar .progress-bar__track::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #5899d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }

  .module-donate__progress-bar .progress-bar__track::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 0;
    background: #7faed6;
    border-left: 10px solid #7faed6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }

  .progress-bar__pointer {
    width: 20px;
    height: 100%;
    position: relative;
    background: #b0c7da;
    display: inline-block;
  }
  .progress-bar__pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #7faed6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .progress-bar__pointer:before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #b0c7da;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .app .module-donate__footer {
    font-size: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 14px;
  }
  #paymentForm {
    height: 450px;
  }
  .payment__description {
    font-family: Ubuntu, sans-serif;
    color:  #94989c;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-decoration: underline !important;
    cursor: pointer;
    vertical-align: text-bottom;
    margin-top: -2px;
  }
  .module-donate__version.donateWindow {
    margin-top: 55px;
  }
  .payment__description:hover {

  }

  .module-donate__version {
    font-family: Ubuntu, sans-serif;
    color:  #94989c;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    width: 100%;
    text-decoration: none;
    float: right;
    margin: 0;
    padding: 20px 0 0 0;
  }
  .module-donate__version a {
    text-decoration: none;
    color:  #94989c;
  }

  .result__description {
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 33%;
    white-space: nowrap;
  }

  .result__received {
    font-family: Ubuntu, sans-serif;
    color:  #191919;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 33%;
    white-space: nowrap;
  }

  .donate-bePaid__form {
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .donate-bePaid__form iframe {
    height: 100%;
    width: 100%;
  }

  .summ__highlight {
    font-family: Ubuntu, sans-serif;
    color:  #FF80B4;
    font-size: 18px;
    font-weight: 500;
  }

@media all and (max-width: 740px) {

  .wrapper {
    height: auto;
  }
  .module-donate__main-panel {
    height: auto;
    width: 50%;
  }

  .module-donate__image {
    height: 230px;
    width: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .module-donate__description {
    text-align: justify;
  }
  .checkbox-agreement {
    justify-content: center !important;
    display: flex;
    align-items: center;
  }
}
@media all and (max-width: 700px) {

  .module-donate__title {
    text-align: center;
  }

  .module-donate__wrapper {
    padding: 25px 0 0px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .module-donate__main-panel {
    max-width: 355px;
    width: 80%;
    height: auto;
    margin-top: 20px;

  }

  .module-donate__image {
    width: 80%;
    max-width: 355px;
    overflow: hidden;
    position: relative;
    height: auto;
  }

  .module-donate__image > img {
    width: 100%;
    height: auto;
    position: relative;
  }

  .module-donate__input {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    align-content: flex-start;
  }

  .module-donate__button-select {
    margin: 0px 0px 30px 0px;
  }

  .app .module-donate__footer {
    font-size: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }

  .payment__description {
    width: auto;
  }
  .module-donate__version {
    padding-top: 10px;
    width: auto;
  }
  .result__description {
    padding-top: 10px;
  }
}

@media all and (max-width: 450px) {

  .wrapper {
    height: auto;
  }

  .module-donate__text-input.warning-open, .module-donate__button-confirm.warning-open {
    margin-top: 0;
  }
  .module-donate__warning {
    margin: 0;
  }

  .module-donate__button-select {
    margin: 0px 0px 15px 0px;
  }

  .module-donate__input > * {
    margin-left: auto;
    margin-right: auto;
  }

  .module-donate__main-panel {
    max-width: 100%;
    width: 80%;
    height: auto;
    margin-top: 20px;
    min-width: 100px;
  }

  .app {
    overflow-x: hidden;
  }

  .module-donate__description {
    line-height: 20px;
  }

  .result__description {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 16px;
  }
  .result__description > span {
    font-size: 16px;
  }
}

.checkbox-agreement {
  width: 100%;
  text-align: right;
  height: 18px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  min-height: 10vh;
  width: 35vw;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  color: #333;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-container #modal-cross {
  text-align: right;
  width: 100%;
  float: right;
  cursor: pointer;

}
.modal-header{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.modal-body {
  margin: 20px 0;
  text-align: justify;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 15px;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;

  }

  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
    padding-left: 10px;
  }

  &::-webkit-scrollbar-thumb
  {

    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #cccccc;
    border: solid 3px transparent;
  }
}



/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}
